* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/meetup.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: Arial, Arial, Helvetica, sans-serif;
  color: white;
  line-height: 1.8;
  font-size: 17px;
  font-family: "Flamenco", cursive;
}
.button {
  background-color: rgb(1, 6, 12);
  border: 7px solid white;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
}
.liveBtn {
  margin-left: 30%;
  margin-top: 40%;
  padding: 30px;
}
.ABtn {
  margin-left: 70%;
  margin-top: -20%;
  padding: 30px;
}
.main-content-header {
  width: 1180px;
  position: absolute;
  top: 80%;
  left: 30%;
  /*border: 1px solid black;*/
  transform: translate(-15%, 0%);
}
h1 {
  color: black;
  font-size: 20px;
  word-spacing: 5px;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: lighter;
}
.btn {
  font-weight: lighter;
  color: white;
  background: none;
  width: 50%;
  text-transform: unset;
  border: 2px solid #041b05;
  cursor: pointer;
  transition: backgroung-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full {
  background-color: gray;
  color: rgb(243, 240, 240);
  margin-right: 20px;
  border: 2px solid #07000a;
}
.btn-full:hover {
  background: slategrey;
}
.button:hover {
  background: rgb(17, 13, 13);
}

.optional a {
  width: 280px;
  font-size: 13px;
  line-height: 200px;
  color: darkgray;
  float: left;
  margin-bottom: -30px;
  height: 40px;
  line-height: 0px;
}
.login-box h2 {
  text-align: center;
}
.textbox {
  width: 100%;
  font-size: 20px;
  padding: 0px;
  margin: 1px;
  border-bottom: 1px solid green;
  margin-bottom: -25px;
}

input {
  width: 95%;
  font-size: 20px;
  height: 40px;

  display: block;
  border-radius: 8px;
}

.colorchange {
  animation: colorchangeMeet 2s infinite;
}
@keyframes colorchangeMeet {
  0% {
    color: chocolate;
  }
  15% {
    color: crimson;
  }
  30% {
    color: rgb(90, 167, 14);
  }
  45% {
    color: rgb(20, 20, 136);
  }
  60% {
    color: whitesmoke;
  }
  75% {
    color: green;
  }
  100% {
    color: rgba(97, 7, 7, 0.24);
  }
}
@keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 1180px) {
  .main-content-header {
    width: 100%;
    padding: 0 2%;
  }
}
@media only screen and (max-width: 998px) {
  h1 {
    font-size: 200%;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 180%;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  color: rgb(247, 245, 245);
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 50%;
  border-radius: 15px;
  background: rgba(27, 27, 27, 0.555);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.userad {
  padding-top: 25%;
  text-align: center;
}
#myBtn,
#myBtn1 {
  width: 15%;
  font-size: 120%;
  height: 60%;
  padding: 1%;
  border-radius: 10px;
  border-color: 10px rgba(8, 6, 6, 0.658);
  margin-top: 10%;
  background-color: aquamarine;
}
.btnuser {
  width: 20%;
  font-size: 100%;
  height: 80%;
  border-radius: 50%;
  border-color: rgba(4, 1, 14, 0.658) 4px;
  margin-left: 70%;
  margin-top: 20%;
  background-color: rgb(114, 50, 83);
}
#title {
  font-size: 3rem;
  text-align: left;
  color: rgb(15, 9, 9);
  font-style: italic;
  font-family: sans-serif;
  position: absolute;
  left: 50%;
  top: -2%;
  transform: translateX(-50%);
}
